/*Mobile version*/
@media screen and (max-width: 375px)
{

    #title
    {
        background-color: hsl(185, 41%, 84%);
        color: hsl(183, 100%, 15%);
        width: 375px;
        height: 200px;
        font-size: 24px;
        font-weight: bolder;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #calculator
    {
        width: 375px;
        height: 900px;
        border-radius: 30px;
        background-color: whitesmoke;
        position: absolute;
        top: 180px;
    }

    #bill
    {
        position: absolute;
        top: 15px;
        left: 30px;
        color: hsl(184, 14%, 56%);
        font-weight: bolder;
    }

    #warning1
    {
        position: absolute;
        top: 15px;
        left: 250px;
        color: hsl(0, 89%, 57%); /* Puedes ajustar el color según tus preferencias */
        font-size: 20px;
        font-weight: bolder;
    }

    .currency
    {
        position: absolute;
        top: 55px;
        left: 35px;
        z-index: 1;
        color: hsl(186, 8%, 77%); /* Puedes ajustar el color según tus preferencias */
        font-size: 20px;
        font-weight: bolder;
    }

    #totalCash
    {
        position: absolute;
        top: 50px;
        left: 30px;
        width: 300px;
        height: 40px;
        z-index: 0;
        border-style: none;
        border-radius: 5px;
        background-color:  hsl(189, 41%, 97%);
        text-align: right;
    }

    #totalCash::placeholder
    {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        color: hsl(183, 100%, 15%); /* Puedes ajustar el color según tus preferencias */
        font-size: 20px;
        font-weight: bolder;
    }

    input{
        color: hsl(183, 100%, 15%); /* Puedes ajustar el color según tus preferencias */
        font-size: 20px;
        font-weight: bolder;
    }

    #tip-selection
    {
        position: absolute;
        top: 100px;
        left: 30px;
        color: hsl(184, 14%, 56%);
        font-weight: bolder;
    }

    .button-grid1
    {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 375px;
        height: 200px;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px; /* Ajusta el valor para la separación entre columnas */
        position: absolute;
        top: 150px;
        left: 40px;
    }

    .button-grid2
    {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 375px;
        height: 200px;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px; /* Ajusta el valor para la separación entre columnas */
        position: absolute;
        top: 150px;
        left: 180px;
    }

    button
    {
        font-size: 20px;
        width: 130px;
        height: 50px;
        background-color: hsl(183, 100%, 15%);
        color: white;
        border-radius: 10px;
        font-weight: bolder;
    }
    button:hover
    {
        background-color: hsl(183, 76%, 33%);
        color: hsl(183, 100%, 15%);
        font-weight: bolder;
    }
    #custom{
        font-size: 20px;
        width: 130px;
        height: 45px;
        background-color: hsl(189, 41%, 97%);
        border-radius: 10px;
        font-weight: bolder;
    }

    #custom::placeholder
    {
        transform: translateY(-25%);
        transform: translateX(20%);
        font-size: 20px;
        font-weight: bolder;
    }

    #numberOfPeople
    {
        position: absolute;
        top: 360px;
        left: 30px;
        color: hsl(184, 14%, 56%);
        font-weight: bolder;
    }

    #warning2
    {
        position: absolute;
        top: 370px;
        left: 250px;
        color: hsl(0, 89%, 57%); /* Puedes ajustar el color según tus preferencias */
        font-size: 20px;
        font-weight: bolder;
    }

    /* 2nd input */
    .people
    {
        position: absolute;
        top: 410px;
        left: 35px;
        z-index: 1;
        color: hsl(186, 8%, 77%); /* Puedes ajustar el color según tus preferencias */
        font-size: 20px;
        font-weight: bolder;
    }

    
    
    #amountOfPeople
    {
        position: absolute;
        top: 400px;
        left: 30px;
        width: 300px;
        height: 40px;
        z-index: 0;
        border-style: none;
        background-color:  hsl(189, 41%, 97%);
        border-radius: 5px;
        text-align: right;
    }

    #amountOfPeople::placeholder
    {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        color: hsl(183, 100%, 15%); /* Puedes ajustar el color según tus preferencias */
        font-size: 20px;
        font-weight: bolder;
    }
    

    #tip-calculator
    {
        width: 320px;
        height: 300px;
        border-radius: 10px;
        background-color: hsl(183, 100%, 15%);
        position: absolute;
        top: 520px;
        left: 30px;
    }

    #TipAmount
    {
        position: absolute;
        top: 20px;
        left: 20px;
        color: whitesmoke;
        font-weight: bolder;
    }
    #person1
    {
        position: absolute;
        top: 60px;
        left: 20px;
        color: hsl(186, 8%, 77%);
        font-weight: bolder;
    }
    #amount{
        position: absolute;
        top: 60px;
        left: 250px;
        color: whitesmoke;
        font-weight: bolder;
    }

    #total
    {
        position: absolute;
        top: 100px;
        left: 20px;
        color: whitesmoke;
        font-weight: bolder;
    }
    #person2{
        position: absolute;
        top: 140px;
        left: 20px;
        color: hsl(186, 8%, 77%);
        font-weight: bolder;
    }

    #grandTotal
    {
        position: absolute;
        top: 140px;
        left: 250px;
        color: whitesmoke;
        font-weight: bolder;
    }

    #reset{
        position: absolute;
        top: 200px;
        left: 20px;
        width: 280px;
        height: 50px;
        background-color: hsl(172, 67%, 35%);
        color: hsl(183, 100%, 15%);
        border-radius: 10px;
        font-weight: bolder;
        border-style: none;
    }
    #reset:hover{
        background-color:  hsl(172, 67%, 45%);
        color: hsl(183, 100%, 15%);
        font-weight: bolder;
    }
}

/*Desktop version*/
@media screen and (min-width: 376px)
{
    #title 
    {
        background-color: hsl(185, 41%, 84%);
        color: hsl(183, 100%, 15%);
        width: 100vw; /* Abarca el 100% del ancho de la ventana */
        height: 100vh; /* Abarca el 100% del alto de la ventana */
        font-size: 24px;
        font-weight: bolder;
        display: flex;
        justify-content: center;
 
    }
    

    #calculator
    {
        width: 850px;
        height: 480px;
        border-radius: 30px;
        background-color: whitesmoke;
        position: absolute;
        top: 100px;
        left: 300px;
    }

    #bill
    {
        position: absolute;
        top: 15px;
        left: 30px;
        color: hsl(184, 14%, 56%);
        font-weight: bolder;
    }

    #warning1
    {
        position: absolute;
        top: 15px;
        left: 250px;
        color: hsl(0, 89%, 57%); /* Puedes ajustar el color según tus preferencias */
        font-size: 20px;
        font-weight: bolder;
    }

    .currency
    {
        position: absolute;
        top: 55px;
        left: 35px;
        z-index: 1;
        color: hsl(186, 8%, 77%); /* Puedes ajustar el color según tus preferencias */
        font-size: 20px;
        font-weight: bolder;
    }

    #totalCash
    {
        position: absolute;
        top: 50px;
        left: 30px;
        width: 300px;
        height: 40px;
        z-index: 0;
        border-style: none;
        border-radius: 5px;
        background-color:  hsl(189, 41%, 97%);
        text-align: right;
    }

    #totalCash::placeholder
    {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        color: hsl(183, 100%, 15%); /* Puedes ajustar el color según tus preferencias */
        font-size: 20px;
        font-weight: bolder;
    }

    input{
        color: hsl(183, 100%, 15%); /* Puedes ajustar el color según tus preferencias */
        font-size: 20px;
        font-weight: bolder;
    }

    #tip-selection
    {
        position: absolute;
        top: 100px;
        left: 30px;
        color: hsl(184, 14%, 56%);
        font-weight: bolder;
    }

    .button-grid1
    {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 375px;
        height: 200px;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Cambiado a 3 columnas */
    grid-template-rows: repeat(2, 1fr); /* Cambiado a 2 filas */
        gap: 10px; /* Ajusta el valor para la separación entre columnas */
        position: absolute;
        top: 150px;
        left: 40px;
    }

    .button-grid2
    {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 375px;
        height: 200px;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Cambiado a 3 columnas */
    grid-template-rows: repeat(2, 1fr); /* Cambiado a 2 filas */
        gap: 10px; /* Ajusta el valor para la separación entre columnas */
        position: absolute;
        top: 220px;
        left: 45px;
    }

    button
    {
        font-size: 20px;
        width: 130px;
        height: 50px;
        background-color: hsl(183, 100%, 15%);
        color: white;
        border-radius: 10px;
        font-weight: bolder;
    }
    button:hover
    {
        background-color: hsl(183, 76%, 33%);
        color: hsl(183, 100%, 15%);
        font-weight: bolder;
    }
    #custom{
        font-size: 20px;
        width: 130px;
        height: 45px;
        background-color: hsl(189, 41%, 97%);
        border-radius: 10px;
        font-weight: bolder;
    }

    #custom::placeholder
    {
        transform: translateY(-25%);
        transform: translateX(20%);
        font-size: 20px;
        font-weight: bolder;
    }

    #numberOfPeople
    {
        position: absolute;
        top: 360px;
        left: 30px;
        color: hsl(184, 14%, 56%);
        font-weight: bolder;
    }

    #warning2
    {
        position: absolute;
        top: 370px;
        left: 250px;
        color: hsl(0, 89%, 57%); /* Puedes ajustar el color según tus preferencias */
        font-size: 20px;
        font-weight: bolder;
    }

    /* 2nd input */
    .people
    {
        position: absolute;
        top: 410px;
        left: 35px;
        z-index: 1;
        color: hsl(186, 8%, 77%); /* Puedes ajustar el color según tus preferencias */
        font-size: 20px;
        font-weight: bolder;
    }

    
    
    #amountOfPeople
    {
        position: absolute;
        top: 400px;
        left: 30px;
        width: 300px;
        height: 40px;
        z-index: 0;
        border-style: none;
        background-color:  hsl(189, 41%, 97%);
        border-radius: 5px;
        text-align: right;
    }

    #amountOfPeople::placeholder
    {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        color: hsl(183, 100%, 15%); /* Puedes ajustar el color según tus preferencias */
        font-size: 20px;
        font-weight: bolder;
    }
    

    #tip-calculator
    {
        width: 320px;
        height: 300px;
        border-radius: 10px;
        background-color: hsl(183, 100%, 15%);
        position: absolute;
        top: 25px;
        left: 480px;
    }

    #TipAmount
    {
        position: absolute;
        top: 20px;
        left: 20px;
        color: whitesmoke;
        font-weight: bolder;
    }
    #person1
    {
        position: absolute;
        top: 60px;
        left: 20px;
        color: hsl(186, 8%, 77%);
        font-weight: bolder;
    }
    #amount{
        position: absolute;
        top: 60px;
        left: 250px;
        color: whitesmoke;
        font-weight: bolder;
    }

    #total
    {
        position: absolute;
        top: 100px;
        left: 20px;
        color: whitesmoke;
        font-weight: bolder;
    }
    #person2{
        position: absolute;
        top: 140px;
        left: 20px;
        color: hsl(186, 8%, 77%);
        font-weight: bolder;
    }

    #grandTotal
    {
        position: absolute;
        top: 140px;
        left: 250px;
        color: whitesmoke;
        font-weight: bolder;
    }

    #reset{
        position: absolute;
        top: 200px;
        left: 20px;
        width: 280px;
        height: 50px;
        background-color: hsl(172, 67%, 35%);
        color: hsl(183, 100%, 15%);
        border-radius: 10px;
        font-weight: bolder;
        border-style: none;
    }
    #reset:hover{
        background-color:  hsl(172, 67%, 45%);
        color: hsl(183, 100%, 15%);
        font-weight: bolder;
    }
}